boto3==1.6.6
botocore==1.9.6
certifi==2022.12.7
chardet==3.0.4
docutils==0.14
enum34==1.1.6
extras==1.0.0
fixtures==3.0.0
funcsigs==1.0.2
futures==3.2.0
fuzzywuzzy==0.16.0
idna==2.6
jmespath==0.9.3
lettuce==0.2.23
linecache2==1.0.0
mock==2.0.0
parse==1.8.2
parse-type==0.4.2
pbr==3.1.1
pymongo==3.6.0
python-dateutil==2.6.1
python-Levenshtein==0.12.0
python-mimeparse==1.6.0
python-subunit==1.2.0
requests==2.18.4
s3transfer==0.1.13
six==1.11.0
sure==1.4.7
testtools==2.3.0
traceback2==1.4.0
unittest2==1.1.0
urllib3==1.24.2
